.embed-tool {
  &--loading {

    ^&__caption {
      display: none;
    }

    ^&__preloader {
      display: block;
    }

    ^&__content {
      display: none;
    }
  }

  &__preloader {
    display: none;
    position: relative;
    height: 200px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e6e9eb;

    &::before {
      content: '';
      position: absolute;
      z-index: 3;
      left: 50%;
      top: 50%;
      width: 30px;
      height: 30px;
      margin-top: -25px;
      margin-left: -15px;
      border-radius: 50%;
      border: 2px solid #cdd1e0;
      border-top-color: #388ae5;
      box-sizing: border-box;
      animation: embed-preloader-spin 2s infinite linear;
    }
  }

  &__url {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 250px;
    color: #7b7e89;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__caption {
    margin-top: 7px;


    &[contentEditable=true][data-placeholder]::before{
      position: absolute;
      content: attr(data-placeholder);
      color: #707684;
      font-weight: normal;
      opacity: 0;
    }

    &[contentEditable=true][data-placeholder]:empty {
      &::before {
         opacity: 1;
      }

      &:focus::before {
        opacity: 0;
      }
    }
  }

  &__addrwrapper {
    border: 1px solid;
    border-color: #e4e4e4;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    &-inputwrapper {
      height: 40px;
      padding: 10px;
      padding-bottom: 0;

      &-input {
        outline: none;
        box-sizing: border-box;
        margin: 0;
        padding: 5px;
        font-variant: tabular-nums;
        list-style: none;
        font-feature-settings: 'tnum';
        position: relative;
        display: inline-block;
        width: 100%;
        height: 35px;
        color: rgba(0,0,0,0.65);
        font-size: 14px;
        line-height: 1.2;
        background-color: #f1f3f7;
        background-image: none;
        border: 1px solid #eaeaea;
        border-radius: 4px;
        -webkit-transition: all .3s;
        transition: all .3s;
      }
    }

    &-descwrapper {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 0 15px;
      margin-top: 3px;
      height: 50px;
      &-desc {
        color: #9c9c9c;
        font-size: 12px;
      }
      &-iconwrapper {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        
        &-icon {
          margin-right: 6px;
          width: 19px;
          height: 19px;
        }
      }
    }
  }
}

@keyframes embed-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
